/*----- Buttons -----*/
[#{$attr}~=btn],
[#{$attr}|=btn] {
    --height:35px;
    --width:inherit;
    --display:inline-grid;
    --padding:0 25px;
    --border-radius:0px;

    --bg-color:var(--control-color,var(--color-sky));
    --hover-bg-color:var(--control-hover-color,var(--color-rain));
    --pressed-bg-color:var(--control-pressed-color,var(--color-sea));
    --disabled-bg-color:var(--color-13);

    --color:#fff;
    --disabled-color:var(--color-65);

    --text-transform:Capitalize;
    --transition:0.2s;
    grid-gap:var(--space-xxxsm);
    grid-auto-flow:column;
    min-width:max-content;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    text-align:center;
    user-select:none;
    cursor:pointer;
    background: linear-gradient(to right, rgb(5, 165, 216) 0%, rgb(236, 0, 140) 100%);
}
[#{$attr}*=btn] i{
    font-size:var(--font-h4);
}

[#{$attr}|=btn][#{$attr}*='2ry']{
    background: none;
    --color:var(--control-color,#fff);
    --hover-color:var(--control-hover-color,#f2f2f2);
    --pressed-color:var(--control-pressed-color,white);
    --disabled-color:var(--color-25);

    --bg-color:transparent;
    --hover-bg-color:transparent;
    --pressed-bg-color:transparent;
    --disabled-bg-color:transparent;

    --border:1px solid var(--control-color,#fff);
    --hover-border:1px solid var(--control-hover-color,#f2f2f2);
    --pressed-border:1px solid var(--control-pressed-color,white);
    --disabled-border:1px solid var(--color-13);

    outline: 3px solid transparent;
    outline-offset: 4px;
}
[#{$attr}|=btn][#{$attr}*='2ry']:hover{
    outline: 3px solid #fff;
    outline-offset: 4px;
}

[#{$attr}|=btn][#{$attr}*=p1]{
    --control-color:var(--color-sea);
    --control-hover-color:var(--color-mist);
    --control-pressed-color:var(--color-ocean);
}

[#{$attr}|=btn][#{$attr}*=p2]{
    --control-color:var(--color-mist);
    --control-hover-color:#2864A2;
    --control-pressed-color:var(--color-sea);
}

/*--- Float Buttons ---*/
[#{$attr}~=flat-btn],
[#{$attr}|=flat-btn] {
    --height:35px;
    --width:inherit;
    --display:inline-flex;
    --padding:0 10px;
    --color:var(--control-color, var(--color-sky));
    --hover-color:var(--control-hover-color, var(--color-rain));
    --pressed-color:var(--control-pressed-color, var(--color-sea));
    --disabled-color:var(--color-25);

    --bg-color: transparent;
    --hover-bg-color: transparent;
    --pressed-bg-color: transparent;
    --disabled-bg-color: transparent;

    --border: unset;
    --hover-border: unset;
    --pressed-border: unset;
    --disabled-border: unset;
    
    --transition: 0.2s;
    
    align-items: center;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    font-weight: var(--font-medium);
}
[#{$attr}*='flat-btn'] > *:not(:last-child){
    margin-right: 5px;
}

[#{$attr}*='flat-btn'][#{$attr}*='2ry']{
    --control-color: var(--color-40);
    --control-hover-color: var(--color-sky);
    --control-pressed-color: var(--color-rain);
}

