/*--- Text ---*/
h1[#{$attr}] {
    font-size: var(--font-h1);
    font-weight: var(--font-light);
}

h2[#{$attr}] {
    font-size: var(--font-h2);
    font-weight: var(--font-regular); /*-- can be light --*/
}

h3[#{$attr}] {
    font-size: var(--font-h3);
    font-weight: var(--font-regular);
}

h4[#{$attr}] {
    font-size: var(--font-h4);
    font-weight: var(--font-medium); /*-- can be light and medium --*/
}

h5[#{$attr}] {
    font-size: var(--font-h5);
    font-weight: var(--font-regular);
}


h1[#{$attr}],
h2[#{$attr}],
h3[#{$attr}],
h4[#{$attr}],
h5[#{$attr}]{
    --color:#fff;
}

p[#{$attr}],
ul[#{$attr}],
ol[#{$attr}] {
    font-size: var(--font-p);
    font-weight: var(--font-regular);
    --color:var(--color-65);
}

ul[#{$attr}],
ol[#{$attr}]{
    margin:0;
    padding-left:var(--space-sm);
}

ol[#{$attr}]{
    list-style-type: decimal;
}

hr[#{$attr}]{
    --border:0;
    --height:1px;
    --width:100%;
    --bg-color:var(--color-13);
}

[#{$attr}~=bold] {
    font-weight: var(--font-bold) !important;
}

[#{$attr}~=medium] {
    font-weight: var(--font-medium) !important;
}

[#{$attr}~=light] {
    font-weight: var(--font-light) !important;
}

[#{$attr}~=underline] {
    text-decoration: underline;
}

[#{$attr}~=italic] {
    font-style: italic;
}

